<div class="main">
<h1>Friends List</h1>
    <div class="addFriend">
        <input [(ngModel)]="newFriend" type="text" placeholder="Add Friend" class="addText">
        <button (click)="pushFriend()">Add</button>
    </div>
    <ul>
        <li *ngFor = "let f of friends;let ind = index">
            {{f}} is {{random()}}
            <span (click)="removeFriend(ind)">x</span>
        </li>
    </ul>
</div>

